# Function

Required/Keyword Argument (perlu input variabel)

In [ ]:
def hitung_luas_persegi_panjang(panjang, lebar):
  luas=panjang*lebar
  print(luas)

hitung_luas_persegi_panjang(10,5)
hitung_luas_persegi_panjang(100,2)

50
200

NOMOR 1

Buatlah sebuah function untuk menampilkan tanda plus (+) sebanyak n.

Input : n | Jumlah tanda plus (+) yang diinginkan | int
Output : Jumlah tanda plus yang ditampilkan
Input	Output
n = 1	+
n = 3	+
+
+
n = 5	+
+
+
+
+
n = 0	Tampilkan pesan Input salah
n = -1	Tampilkan pesan Input salah

In [ ]:
#studi kasus 1
def cetak_plus(n):
  if n<=0:
    print ("Input salah")
  else:
    for i in range (0,n):
      print("+")
cetak_plus(7)

NOMOR 2

Buat sebuah function untuk mereturn hanya angka genap (positif/negatif) dari sekumpulan list yang berisi nilai-nilai (tidak termasuk 0).

Input : daftar_angka : daftar angka-angka | list of int
Output : daftar angka-angka genap | list of int

In [ ]:
#studi kasus 2
def cetak_angka_genap(daftar_angka):
  hasil = []
  for angka in daftar_angka:
    if angka !=0:
      if angka % 2 == 0:
        hasil.append(angka)
  print(hasil)

cetak_angka_genap(daftar_angka=[1,2,3,4,5,6])

[2, 4, 6]

In [ ]:
#studi kasus 2 bentuk lain
def cetak_angka_genap(daftar_angka):
  hasil = []
  for angka in daftar_angka:
    if angka !=0:
      if angka % 2 == 0:
        hasil.append(angka)
  return hasil

output=cetak_angka_genap(daftar_angka=[1,2,3,4,5,6])
print(output)

[2, 4, 6]

Default Argument
memasukan default value agar tidak error

NOMOR 3

Buatlah sebuah function untuk menampilkan nama dan negara. Jika tidak ada value pada parameter negara, isi dengan Indonesia.

Input : nama | str
Input : negara | str

In [ ]:
def cetak_nama_dan_negara(nama,negara="Indonesia"): #Indonesia sebagai default value
#nama sebagai required argument, negara sebagai default argument
  print("Halo ",nama," dari ",negara)

cetak_nama_dan_negara("Frank")
cetak_nama_dan_negara("Smith", "Jerman") #pemanggilan cara 1
cetak_nama_dan_negara(nama="Tom", negara="USA") #pemanggilan cara 2, bisa ditukar (negara, nama)

Halo  Frank  dari  Indonesia
Halo  Smith  dari  Jerman
Halo  Tom  dari  USA

NOMOR 4

Buatlah sebuah function untuk me-return luas dari dua angka yang dimasukkan berdasarkan jenis bidangnya.

Jika hanya 1 angka yang dimasukkan, maka diasumsikan angka tersebut akan digunakan untuk panjang-dan-lebar atau alas-dan-tinggi.
Input : mode : jenis bidang (segitiga/persegi) | str
mode = segitiga
mode = persegi
Input : bilangan_1 : bilangan ke-1 | int
Input : bilangan_2 : bilangan ke-2 | int
Jika tidak ada bilangan yang dimasukkan, maka tampilkan pesan "Input harus ada angka".
Jika bilangan_1 tidak dimasukkan dan hanya ada bilangan_2, maka tampilkan pesan "Input harus ada bilangan_1".

Rumus luas persegi = bilangan_1 (panjang) bilangan_2 (lebar)*

Rumus luas segitiga = bilangan_1 (alas) bilangan_2 (tinggi) / 2*

In [ ]:
def hitung_luas(mode,bilangan_1=0, bilangan_2=0):
  #jika tidak ada bilangan yg dimasukan
  if bilangan_1 == 0 and bilangan_2 == 0:
    print("Input harus ada angka")
  
  #Jika bilangan 1 tidak dimasukan
  elif bilangan_1 == 0:
    print("Input harus ada bilangan_1")

  else:
    #Jika hanya ada bilangan_1 dan tidak ada bilangan_2
    if bilangan_2 == 0:
      bilangan_2 = bilangan_1
    
    if mode == "persegi":
      luas = bilangan_1 * bilangan_2
    else:
      luas = bilangan_1 * bilangan_2 / 2 
    return luas

hitung_luas(mode="segitiga", bilangan_1=1, bilangan_2=20)

10.0

NOMOR 5

In [ ]:
# * (asterisk): bentuk tuple
def cetak_angka(posisi, *daftar_angka):
  if posisi > len(daftar_angka):
    haasil = -1
  else:
    hasil = daftar_angka[posisi]
    return hasil

cetak_angka(3,10,20,30,40)

(10, 20, 30, 40)

40

NOMOR 6

Buatlah sebuah function untuk menampilkan nama siswa yang memiliki nilai paling besar

Input : Beberapa nama_siswa beserta nilai_siswa

In [ ]:
def cek_nilai(**daftar_siswa)

# Module

In [ ]:
import person as ps #ps adalah alias

In [ ]:
person.name

'zack'

In [ ]:
ps.devices

['laptop', 'smartphone', 'tablet']

In [ ]:
ps.display("Halo")

arg = Halo

In [ ]:
person.color

'black'

In [ ]:
#gunakan importlib apabila mengcode yg belum terupdate sebelumnya di file person.py
import importlib
importlib.reload(person)

In [ ]:
import car

In [ ]:
from car import brands